.button-input-filters {
    margin-left: 24px;
    align-self: flex-end;
    outline: none;
}

.btn_hide_show {
    height: 40px;
    width: 40px !important;
    margin-right: 5rem;
}

.btn_hide_show {
    margin-bottom: 54px !important;
    border-radius: 2rem !important;
}

.button_hide {
    background-color: var(--ocean-blue);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}





// BUTTON SELECT COLUMNS
.ant-btn.ant-dropdown-trigger {
    height: 36px;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px var(--ocean-blue);
    align-items: center;
    display: flex;
    color: var(--ocean-blue);
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
    text-shadow: none;
    position: absolute;
    right: 126px;

    &:hover,
    &:active,
    &:focus {
        background: var(--ocean-blue);
        color: #fff;
    }
}