// BUTTON EXPORT

.btn-export {
    position: absolute;
    top: 0px;
    right: 0px;

    .ant-btn-primary {
        height: 36px;
        padding: 8px;
        border-radius: 4px;
        border: solid 1px var(--ocean-blue);
        align-items: center;
        display: flex;
        color: var(--ocean-blue);
        text-decoration: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        align-self: flex-end;
        text-shadow: none;

        &:hover,
        &:active,
        &:focus {
            background: var(--ocean-blue);
            color: #fff;
        }
    }
}

// POP UP EXPORT

.ant-checkbox-checked .ant-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 2px solid var(--turquoise-blue) !important;
    transform: scale(1) !important;
    opacity: 1;
    content: ' ';
    width: 10px;
    height: 10px;
    top: 2px !important;
    left: 2px !important;
    border-radius: 2px;
    background: var(--turquoise-blue);
    color: #fff;
}

.ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fff;
    border-color: var(--turquoise-blue);
}

.d-flex .flex-column .align-start {
    display: grid;
    grid-template-columns: 50% 50%;
}