.resetfilters {
    position: absolute;
    left: 1002px;
    top: 157px;
    font-size: 14px;
    letter-spacing: -0.1px;
    
}

.sk-reset-filters, .is-disabled {
    cursor: default;
    color: var(--ocean-blue) !important;
}