.topbar__margin {
    background-color: var(--ocean-blue);
    width: auto;
    position: absolute;
    height: 7.5rem;
    padding-top: 1.2rem;

    &__true {
        margin-left: 300px;
    }

    &__false {
        margin-left: 107px;
    }


    .sk-top-bar__content {
        display: flex;
        margin: 0 auto;
        padding: 0 37px;
        width: 100%;

        .my-logo {
            font-size: 24px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            //margin-top: 10px;

            .zonda {

                margin: 0 0 21px 0;
                font-family: SofiaPro;
                font-size: 39px;

                color: #ffffff;
            }

            .wip {

                margin: 13px 0 0 10px;
                object-fit: contain;
                font-family: SofiaPro;
                font-size: 48px;

                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

}