.ant-table .ant-table-small .ant-table-bordered {
    overflow: scroll;
}

.table-container {

    // height: 750px;
    height: auto;

}



.ant-table-content {
    // max-width: min-content;
    // width: 400px;

    .ant-table-cell {
        font-size: 12px;
        text-align: center;
        color: var(--greyish-brown);
        height: 70px;
        padding: 0 !important;
        // justify-content: center;
        // align-items: center;

        div {
            height: 70px;
            width: 100vh;
            display: table-cell;
            vertical-align: middle;
            padding: 0 8px 0 8px !important;
            // box-sizing: content-box;
        }


    }


}


.ant-table.ant-table-bordered>.ant-table-container {

    width: auto;
}

header {
    background-color: #0074b4;
    color: #ffffff;
    padding: 1em 2em;
    width: auto;
}

.table-header {
    height: 52px;


    &:nth-child(even) {
        background-color: #f5fcff;
    }

    .header {
        background-color: #0074b4;
        color: white;
        padding: 4px 25px;

        &__hide {
            margin-left: 0px !important;
        }
    }
}



//CLASES DELIVERY TYPE CD

.Rectangle-value-1 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #ffc625;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-2 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #00bbd6;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-3 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #a5c36d;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-4 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: #FD7255;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-5 {
    width: 17px;
    height: 23px;
    border-radius: 2px;
    background-color: rgb(97, 105, 218);
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


//CLASES ORDER STATUS y ORDER CREATION

.Rectangle-value-6 {
    width: auto;
    height: 23px;
    border-radius: 2px;
    background-color: #ffc625;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-7 {
    width: auto;
    height: 23px;
    border-radius: 2px;
    background-color: #00bbd6;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-8 {
    width: auto;
    height: 23px;
    border-radius: 2px;
    background-color: #a5c36d;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-9 {
    width: auto;
    height: 23px;
    border-radius: 2px;
    background-color: #FD7255;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rectangle-value-10 {
    width: auto;
    height: 23px;
    border-radius: 2px;
    background-color: rgb(97, 105, 218);
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


//ICONOS

.CALENDAR {
    width: 17px;
    height: 20px;
    object-fit: contain;
    background-image: url(../img/calendar-white.svg);
    float: left;
}

.LOCATION {
    width: 15px;
    height: 20px;
    object-fit: contain;
    background-image: url(../img/location-white.svg);
    float: left;
}

.user-copy {
    width: 17px;
    height: 17px;
    object-fit: contain;
    background-image: url(../img/user-copy-white.svg);
    float: left;
}