.box-table {
  position: relative;
  /* .ant-table .ant-table-small .ant-table-bordered {
        overflow: scroll;
    } */
}

.box-table .table-container {
  height: auto;
}

.box-table .ant-table-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.box-table .ant-table-container::-webkit-scrollbar:vertical {
  display: none;
}

.box-table .ant-table-container::-webkit-scrollbar-button:increment, .box-table .ant-table-container::-webkit-scrollbar-button {
  display: none;
}

.box-table .ant-table-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.box-table .ant-table-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.box-table .ant-table-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.box-table .ant-table-container {
  width: auto;
  margin-top: 50px;
  overflow: scroll;
}

.box-table .ant-table-container .ant-table-content .ant-table-thead .ant-table-cell {
  font-size: 12px;
  text-align: center;
  color: var(--greyish-brown);
  height: 70px;
  font-weight: 600;
  padding: 0 8px 0 8px !important;
  background: var(--ice-blue);
  border-right: 1px solid var(--light-blue-grey);
}

.box-table .ant-table-container .ant-table-content .ant-table-thead .ant-table-cell .ant-table-column-sorters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-table .ant-table-container .ant-table-content .ant-table-thead .ant-table-cell .ant-table-column-sorters .anticon {
  color: var(--greyish-brown);
}

.box-table .ant-table-container .ant-table-content .ant-table-thead .ant-table-cell .ant-table-column-sorters .anticon path {
  border: solid 1px var(--turquoise-blue);
}

.box-table .ant-table-container .ant-table-content .ant-table-thead .ant-table-cell .ant-table-column-sorters .active {
  color: var(--turquoise-blue);
}

.box-table .ant-table-container .ant-table-content .ant-table-tbody .ant-table-cell {
  font-size: 12px;
  color: var(--greyish-brown);
  padding: 0;
}

.box-table .ant-table-container .ant-table-content .ant-table-tbody .ant-table-cell div {
  height: 70px;
  vertical-align: middle;
  font-weight: 600;
  padding: 0 8px 0 8px !important;
  width: 100vh;
  display: table-cell;
  text-align: center;
}

.box-table header {
  background-color: #0074b4;
  color: #ffffff;
  padding: 1em 2em;
  width: auto;
}

.box-table .table-header {
  height: 52px;
}

.box-table .table-header:nth-child(even) {
  background-color: #f5fcff;
}

.box-table .table-header .header {
  background-color: #0074b4;
  color: white;
  padding: 4px 25px;
}

.box-table .table-header .header__hide {
  margin-left: 0px !important;
}

.hits__true {
  width: calc(100vw - 369px);
}

.hits__false {
  width: calc(100vw - 180px);
}

.ant-table-thead .ant-table-cell {
  font-size: 12px;
  text-align: center;
  color: var(--greyish-brown);
  height: 70px;
  font-weight: 600;
  padding: 0 8px 0 8px !important;
  background: var(--ice-blue);
  border-right: 1px solid var(--light-blue-grey);
}

.ant-table-tbody .ant-table-cell {
  font-size: 14px;
  color: var(--greyish-brown);
  padding: 10px;
  text-align: center;
}

.Rectangle-value-1 {
  width: 17px;
  height: 23px;
  border-radius: 2px;
  background-color: #ffc625;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-2 {
  width: 17px;
  height: 23px;
  border-radius: 2px;
  background-color: #00bbd6;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-3 {
  width: 17px;
  height: 23px;
  border-radius: 2px;
  background-color: #a5c36d;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-4 {
  width: 17px;
  height: 23px;
  border-radius: 2px;
  background-color: #FD7255;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-5 {
  width: 17px;
  height: 23px;
  border-radius: 2px;
  background-color: #6169da;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-6 {
  width: auto;
  height: 23px;
  border-radius: 2px;
  background-color: #ffc625;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-7 {
  width: auto;
  height: 23px;
  border-radius: 2px;
  background-color: #00bbd6;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-8 {
  width: auto;
  height: 23px;
  border-radius: 2px;
  background-color: #a5c36d;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-9 {
  width: auto;
  height: 23px;
  border-radius: 2px;
  background-color: #FD7255;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Rectangle-value-10 {
  width: auto;
  height: 23px;
  border-radius: 2px;
  background-color: #6169da;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CALENDAR {
  width: 17px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(../img/calendar-white.svg);
  float: left;
}

.LOCATION {
  width: 15px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(../img/location-white.svg);
  float: left;
}

.user-copy {
  width: 17px;
  height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(../img/user-copy-white.svg);
  float: left;
}
/*# sourceMappingURL=table.css.map */